<style type="text/css">.crossrider-nofity-34345-body-theme-white-black a,
.crossrider-nofity-34344-body-theme-white-black a {
	text-decoration: none;
}

.crossrider-nofity-34345-body-theme-white-black a:hover,
.crossrider-nofity-34344-body-theme-white-black a:hover {
	text-decoration: underline;
}

.crossrider-nofity-34345-body-theme-white-black a.button,
.crossrider-nofity-34344-body-theme-white-black a.button {
	text-decoration: none;
}

.crossrider-nofity-34345-body-theme-white-black .button,
.crossrider-nofity-34344-body-theme-white-black .button {
	background: url(http://d28me8o1j6adyz.cloudfront.net/landing/main/images/buttons-green.png?v=1373447692) right -210px no-repeat;
	display: inline-block;
	height: 30px;
	padding-right: 10px;
	text-decoration: none;
	margin-top: 5px;
}

.crossrider-nofity-34345-body-theme-white-black .button span,
.crossrider-nofity-34344-body-theme-white-black .button span {
	background: url(http://d28me8o1j6adyz.cloudfront.net/landing/main/images/buttons-green.png?v=1373447692) left -210px no-repeat;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 5px 0 15px;
	color: #fff;
	float: left;
	font-size: 13px;
	text-shadow: 0 1px 0 #585858;
	font-weight: normal;
}

.crossrider-nofity-34345-body-theme-white-black .button span strong,
.crossrider-nofity-34344-body-theme-white-black .button span strong {
	font-weight: normal;
	float: left;
	color: #fff;
}

.crossrider-nofity-34345-body-theme-white-black .button:hover,
.crossrider-nofity-34344-body-theme-white-black .button:hover {
	background-position: right -240px;
}

.crossrider-nofity-34345-body-theme-white-black .button:hover span,
.crossrider-nofity-34344-body-theme-white-black .button:hover span {
	background-position: left -240px;
}

.crossrider-nofity-34345-body-theme-white-black .button small,
.crossrider-nofity-34344-body-theme-white-black .buttin small {
	margin: 7px 0 0 10px;
	background: url(http://d28me8o1j6adyz.cloudfront.net/landing/main/images/button-arrow-small.png) 0 0 no-repeat;
	width: 10px;
	height: 16px;
	text-indent: -999px;
	display: inline-block;
	float: left;
}

.crossrider-nofity-34345-title-theme-white-black,
.crossrider-nofity-34344-title-theme-white-black {
	margin-right: 13px;
}

.crossrider-nofity-34345-icon-theme-white-black,
.crossrider-nofity-34344-icon-theme-white-black {
	width: 32px !important;
	height: 32px !important;
	margin-top: 5px;
}

.crossrider-nofity-34345-body-theme-white-black .info,
.crossrider-nofity-34344-body-theme-white-black .info {
	margin-top: 5px;
}

.crossrider-nofity-34345-body-theme-white-black .mirrors,
.crossrider-nofity-34344-body-theme-white-black .mirrors {
	margin-top: 5px;
	padding-left: 0;
}

.crossrider-nofity-34345-body-theme-white-black .mirrors li,
.crossrider-nofity-34344-body-theme-white-black .mirrors li {
	display: block;
	clear: both;
	margin: 0 0 0 6px;
}

.crossrider-nofity-34345-body-theme-white-black .mirrors li a,
.crossrider-nofity-34344-body-theme-white-black .mirrors li a {
	display: block;
	padding-left: 22px;
	line-height: 25px;
	height: 24px;
	white-space: nowrap;
	background: url(http://d28me8o1j6adyz.cloudfront.net/organic/main/images/download.png) left 5px no-repeat;
	color: #1491cc;
}</style><style type="text/css">.crossrider-nofity-43628 {
	display:none;
}

.crossrider-nofity-43628-top-left {
	font-size:0px;
	position:fixed;
	top:10px;
	left:10px;
	z-index:2147483647;
	overflow: visible;
}

.crossrider-nofity-43628-top-right {
	font-size:0px;
	position:fixed;
	top:10px;
	right:10px;
	z-index:2147483647;
	overflow: visible;
}

.crossrider-nofity-43628-bottom-left {
	font-size:0px;
	position:fixed;
	bottom:10px;
	left:10px;
	z-index:2147483647;
	overflow: visible;
}

.crossrider-nofity-43628-bottom-right {
	font-size:0px;
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:2147483647;
	overflow: visible;
}

.crossrider-nofity-43628-ntf {
	position:relative;
	zoom:1;
	overflow: visible;
	display:none;
}

.crossrider-nofity-43628-iframe {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:transparent;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	z-index:-1;
}

/************************************************************/
/********************* default theme ***********************/
/************************************************************/
.crossrider-nofity-43628-ntf-content-theme-default,
.crossrider-nofity-43628-ntf-content-theme-default * {
		color:#fff;
}

.crossrider-nofity-43628-ntf-content-theme-default {
	position:relative;
	direction:ltr;
	text-align:left;
	zoom:1;
	padding:10px;
	font-family:Helvtica, Arial, sans-serif;
	font-size:14px;
	background:#252525;
	background:rgba(0,0,0,0.855);
	*background:#252525; /* IE 7 Hack */
	border: 2px solid #fdfdfd;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
    -webkit-box-shadow:0 0 10px #000;
    -moz-box-shadow:0 0 10px #000;
	box-shadow:10 0 10px #000;
	overflow: visible;
}

.crossrider-nofity-43628-header-theme-default {
	width:auto;
}
	
	.crossrider-nofity-43628-icon-theme-default {
		float:left;
		width:50px;
		height:50px;
		margin-right:10px;
		margin-bottom:10px;
	}

	.crossrider-nofity-43628-qmark-theme-default {
		float:left;
		width:16px;
		height:16px;
		background:url('https://w9u6a2p6.ssl.hwcdn.net/plugins/images/notifications/question-mark.gif');
		margin-right:6px;
	}
	
	.crossrider-nofity-43628-title-theme-default {
		height:20px;
		font-weight:bold;
		width:auto;
		font-size:14px;
		font-weight:bold;
		text-shadow:1px 1px #000;
	}
	
	.crossrider-nofity-43628-close-theme-default {
		position:absolute;
		right:-13px;
		top:-10px;
		width:33px;
		height:30px;
		font-weight:bold;
		font-size:0px;
		cursor:pointer;
		line-height:12px;
		background:url('https://w9u6a2p6.ssl.hwcdn.net/plugins/images/notifications/default/close.png');
	}

.crossrider-nofity-43628-body-theme-default {
	clear:both;
	margin-top:4px;
	min-height:50px;
	font-size:12px;
}

.crossrider-nofity-43628-tooltip-theme-default {
	display:none;
	position:absolute;
	background:#F2F2F2;
	border:2px solid #848484;
	padding:8px;
	width:80%;
	top:0px;
	left:0px;
	color:#666;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	cursor:default;
}

	.crossrider-nofity-43628-tooltip-theme-default button {
		float:right;
		cursor:pointer;
	}

/************************************************************/
/********************* facebook theme ***********************/
/************************************************************/
.crossrider-nofity-43628-ntf-content-theme-facebook,
.crossrider-nofity-43628-ntf-content-theme-facebook * {
	color:#666;	
}

.crossrider-nofity-43628-ntf-content-theme-facebook {
	position:relative;
	direction:ltr;
	text-align:left;
	background:rgb(82, 82, 82);
	background:rgba(82, 82, 82, 0.7);
	zoom:1;
	padding:4px;
	font-family:Helvtica, Arial, sans-serif;
	font-size:14px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	overflow: visible;
}

.crossrider-nofity-43628-header-theme-facebook {
	width:auto;
	background:#F2F2F2;
	border:1px solid #555555;
	border-bottom:none;
}
	
	.crossrider-nofity-43628-icon-theme-facebook {
		float:left;
		width:50px;
		height:50px;
		margin-right:10px;
		margin-bottom:10px;
	}

	.crossrider-nofity-43628-qmark-theme-facebook {
		float:left;
		width:16px;
		height:16px;
		background:url('https://w9u6a2p6.ssl.hwcdn.net/plugins/images/notifications/question-mark.gif');
		margin:6px 6px 0px 6px;
	}
	
	.crossrider-nofity-43628-title-theme-facebook {
		height:20px;
		font-weight:bold;
		font-size:15px;
		width:auto;
		margin-left:10px;
		padding-bottom:6px;
		padding-top:6px;
		color:#666;
	}
	
	.crossrider-nofity-43628-close-theme-facebook {
		position:absolute;
		right:-13px;
		top:-7px;
		width:33px;
		height:30px;
		font-weight:bold;
		font-size:0px;
		cursor:pointer;
		line-height:12px;
		background:url('https://w9u6a2p6.ssl.hwcdn.net/plugins/images/notifications/facebook/close.png');
	}

.crossrider-nofity-43628-body-theme-facebook {
	clear:both;
	padding:10px;
	padding-top:6px;
	min-height:50px;
	background:#FFF;
	border:1px solid #555555;
	border-top:1px solid #CCCCCC;
}

.crossrider-nofity-43628-tooltip-theme-facebook {
	display:none;
	position:absolute;
	background:#F2F2F2;
	border:2px solid #848484;
	padding:8px;
	width:80%;
	top:0px;
	left:0px;
	color:#666;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	cursor:default;
}

	.crossrider-nofity-43628-tooltip-theme-facebook button {
		float:right;
		cursor:pointer;
	}

/************************************************************/
/********************* all flat themes ***********************/
/************************************************************/
.crossrider-nofity-43628-ntf-content-theme-grey,
.crossrider-nofity-43628-ntf-content-theme-cyan,
.crossrider-nofity-43628-ntf-content-theme-orange,
.crossrider-nofity-43628-ntf-content-theme-lime,
.crossrider-nofity-43628-ntf-content-theme-navy,
.crossrider-nofity-43628-ntf-content-theme-dark-grey,
.crossrider-nofity-43628-ntf-content-theme-light-grey,
.crossrider-nofity-43628-ntf-content-theme-light-cyan,
.crossrider-nofity-43628-ntf-content-theme-peach,
.crossrider-nofity-43628-ntf-content-theme-light-green,
.crossrider-nofity-43628-ntf-content-theme-white-black,
.crossrider-nofity-43628-ntf-content-theme-white-blue,
.crossrider-nofity-43628-ntf-content-theme-white-darkred,
.crossrider-nofity-43628-ntf-content-theme-white-lime {
	position:relative;
	direction:ltr;
	text-align:left;
	zoom:1;
	font-family:Helvtica, Arial, sans-serif;
	font-size:12px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	overflow: visible;
}

.crossrider-nofity-43628-ntf-content-theme-grey {
	border:2px solid #4D4D4D;
	background:#999999;
	 -webkit-box-shadow:0px 0px 12px 2px rgba(56, 56, 56, 0.75);
    -moz-box-shadow:0px 0px 12px 2px rgba(56, 56, 56, 0.75);
	box-shadow:0px 0px 12px 2px rgba(56, 56, 56, 0.75);
}

.crossrider-nofity-43628-ntf-content-theme-cyan {
	border:2px solid #40878E;
	background:#78D2DA;
	 -webkit-box-shadow:0px 0px 12px 2px rgba(46, 105, 119, 0.75);
    -moz-box-shadow:0px 0px 12px 2px rgba(46, 105, 119, 0.75);
	box-shadow:0px 0px 12px 2px rgba(46, 105, 119, 0.75);
}

.crossrider-nofity-43628-ntf-content-theme-orange {
	border:2px solid #E33800;
	background:#EA6339;
	 -webkit-box-shadow:0px 0px 12px 2px rgba(147, 81, 34, 0.75);
    -moz-box-shadow:0px 0px 12px 2px rgba(147, 81, 34, 0.75);
	box-shadow:0px 0px 12px 2px rgba(147, 81, 34, 0.75);
}

.crossrider-nofity-43628-ntf-content-theme-lime {
	border:2px solid #A0C40F;
	background:#87B952;
	 -webkit-box-shadow:0px 0px 12px 2px rgba(46, 117, 73, 0.75);
    -moz-box-shadow:0px 0px 12px 2px rgba(46, 117, 73, 0.75);
	box-shadow:0px 0px 12px 2px rgba(46, 117, 73, 0.75);
}

.crossrider-nofity-43628-ntf-content-theme-navy {
	border:2px solid #738097;
	background:#152B52;
	 -webkit-box-shadow:0px 0px 12px 2px rgba(39, 81, 114, 0.75);
    -moz-box-shadow:0px 0px 12px 2px rgba(39, 81, 114, 0.75);
	box-shadow:0px 0px 12px 2px rgba(39, 81, 114, 0.75);
}

.crossrider-nofity-43628-ntf-content-theme-dark-grey {
	border:2px solid #999999;
	background:#4D4D4D;
	 -webkit-box-shadow:0px 0px 12px 2px rgba(56, 56, 56, 0.75);
    -moz-box-shadow:0px 0px 12px 2px rgba(56, 56, 56, 0.75);
	box-shadow:0px 0px 12px 2px rgba(56, 56, 56, 0.75);
}

.crossrider-nofity-43628-ntf-content-theme-light-grey {
	border:2px solid #4D4D4D;
	background:#E6E6E6;
	 -webkit-box-shadow:0px 0px 12px 2px rgba(73, 75, 77, 0.75);
    -moz-box-shadow:0px 0px 12px 2px rgba(73, 75, 77, 0.75);
	box-shadow:0px 0px 12px 2px rgba(73, 75, 77, 0.75);
}

.crossrider-nofity-43628-ntf-content-theme-light-cyan {
	border:2px solid #40878E;
	background:#D3EDF8;
	 -webkit-box-shadow:0px 0px 12px 2px rgba(63, 105, 137, 0.75);
    -moz-box-shadow:0px 0px 12px 2px rgba(63, 105, 137, 0.75);
	box-shadow:0px 0px 12px 2px rgba(63, 105, 137, 0.75);
}

.crossrider-nofity-43628-ntf-content-theme-peach {
	border:2px solid #E33800;
	background:#FCF6F4;
	 -webkit-box-shadow:0px 0px 12px 2px rgba(199, 89, 89, 0.75);
    -moz-box-shadow:0px 0px 12px 2px rgba(199, 89, 89, 0.75);
	box-shadow:0px 0px 12px 2px rgba(199, 89, 89, 0.75);
}

.crossrider-nofity-43628-ntf-content-theme-light-green {
	border:2px solid #A0C40F;
	background:#EBF3CF;
	 -webkit-box-shadow:0px 0px 12px 2px rgba(70, 118, 57, 0.75);
    -moz-box-shadow:0px 0px 12px 2px rgba(70, 118, 57, 0.75);
	box-shadow:0px 0px 12px 2px rgba(70, 118, 57, 0.75);
}

.crossrider-nofity-43628-ntf-content-theme-white-black {
	border:2px solid #000;
	background:#fff;
	 -webkit-box-shadow:0px 0px 12px 2px rgba(56, 56, 56, 0.75);
    -moz-box-shadow:0px 0px 12px 2px rgba(56, 56, 56, 0.75);
	box-shadow:0px 0px 12px 2px rgba(56, 56, 56, 0.75);
}

.crossrider-nofity-43628-ntf-content-theme-white-blue {
	border:2px solid #2D3092;
	background:#fff;
	 -webkit-box-shadow:0px 0px 12px 2px rgba(35, 33, 92, 0.75);
    -moz-box-shadow:0px 0px 12px 2px rgba(35, 33, 92, 0.75);
	box-shadow:0px 0px 12px 2px rgba(35, 33, 92, 0.75);
}

.crossrider-nofity-43628-ntf-content-theme-white-darkred {
	border:2px solid #C1272C;
	background:#fff;
	 -webkit-box-shadow:0px 0px 12px 2px rgba(94, 22, 31, 0.75);
    -moz-box-shadow:0px 0px 12px 2px rgba(94, 22, 31, 0.75);
	box-shadow:0px 0px 12px 2px rgba(94, 22, 31, 0.75);
}

.crossrider-nofity-43628-ntf-content-theme-white-lime {
	border:2px solid #006837;
	background:#fff;
	 -webkit-box-shadow:0px 0px 12px 2px rgba(21, 95, 48, 0.75);
    -moz-box-shadow:0px 0px 12px 2px rgba(21, 95, 48, 0.75);
	box-shadow:0px 0px 12px 2px rgba(21, 95, 48, 0.75);
}

/* css hack for ie 7+8 - glow effect to emulate css3 box-shadow */
@media \0screen\,screen\9 {
	.crossrider-nofity-43628-ntf-content-theme-grey {
		filter:progid:DXImageTransform.Microsoft.Glow(color='#383838', Strength='3');
	}

	.crossrider-nofity-43628-ntf-content-theme-cyan {
		filter:progid:DXImageTransform.Microsoft.Glow(color='#2E6977', Strength='3');
	}

	.crossrider-nofity-43628-ntf-content-theme-orange {
		filter:progid:DXImageTransform.Microsoft.Glow(color='#935122', Strength='3');
	}

	.crossrider-nofity-43628-ntf-content-theme-lime {
		filter:progid:DXImageTransform.Microsoft.Glow(color='#2E754C', Strength='3');
	}

	.crossrider-nofity-43628-ntf-content-theme-navy {
		filter:progid:DXImageTransform.Microsoft.Glow(color='#2E754C', Strength='3');
	}

	.crossrider-nofity-43628-ntf-content-theme-dark-grey {
		filter:progid:DXImageTransform.Microsoft.Glow(color='#383838', Strength='3');
	}

	.crossrider-nofity-43628-ntf-content-theme-light-grey {
		filter:progid:DXImageTransform.Microsoft.Glow(color='#494B4D', Strength='3');
	}

	.crossrider-nofity-43628-ntf-content-theme-light-cyan {
		filter:progid:DXImageTransform.Microsoft.Glow(color='#3F6989', Strength='3');
	}

	.crossrider-nofity-43628-ntf-content-theme-peach {
		filter:progid:DXImageTransform.Microsoft.Glow(color='#C75959', Strength='3');
	}

	.crossrider-nofity-43628-ntf-content-theme-light-green {
		filter:progid:DXImageTransform.Microsoft.Glow(color='#467639', Strength='3');
	}

	.crossrider-nofity-43628-ntf-content-theme-white-black {
		filter:progid:DXImageTransform.Microsoft.Glow(color='#383838', Strength='3');
	}

	.crossrider-nofity-43628-ntf-content-theme-white-blue {
		filter:progid:DXImageTransform.Microsoft.Glow(color='#23215C', Strength='3');
	}

	.crossrider-nofity-43628-ntf-content-theme-white-darkred {
		filter:progid:DXImageTransform.Microsoft.Glow(color='#5E161F', Strength='3');
	}

	.crossrider-nofity-43628-ntf-content-theme-white-lime {
		filter:progid:DXImageTransform.Microsoft.Glow(color='#155F30', Strength='3');
	}
}

/* css hack for ie 7 - it cuts the X (close) there for needs to be displayed within the ntf */
@media screen\9 {
	.crossrider-nofity-43628-ntf-content-theme-grey,
	.crossrider-nofity-43628-ntf-content-theme-cyan,
	.crossrider-nofity-43628-ntf-content-theme-orange,
	.crossrider-nofity-43628-ntf-content-theme-lime,
	.crossrider-nofity-43628-ntf-content-theme-navy,
	.crossrider-nofity-43628-ntf-content-theme-dark-grey,
	.crossrider-nofity-43628-ntf-content-theme-light-grey,
	.crossrider-nofity-43628-ntf-content-theme-light-cyan,
	.crossrider-nofity-43628-ntf-content-theme-peach,
	.crossrider-nofity-43628-ntf-content-theme-light-green,
	.crossrider-nofity-43628-ntf-content-theme-white-black,
	.crossrider-nofity-43628-ntf-content-theme-white-blue,
	.crossrider-nofity-43628-ntf-content-theme-white-darkred,
	.crossrider-nofity-43628-ntf-content-theme-white-lime {
		right:0px !important;
		top:0px !important;
	}
}

.crossrider-nofity-43628-ntf-content-theme-grey,
.crossrider-nofity-43628-ntf-content-theme-grey *,
.crossrider-nofity-43628-ntf-content-theme-navy,
.crossrider-nofity-43628-ntf-content-theme-navy *,
.crossrider-nofity-43628-ntf-content-theme-dark-grey,
.crossrider-nofity-43628-ntf-content-theme-dark-grey * {
	color:#FFF;
}

.crossrider-nofity-43628-ntf-content-theme-cyan,
.crossrider-nofity-43628-ntf-content-theme-cyan *,
.crossrider-nofity-43628-ntf-content-theme-orange,
.crossrider-nofity-43628-ntf-content-theme-orange *,
.crossrider-nofity-43628-ntf-content-theme-lime,
.crossrider-nofity-43628-ntf-content-theme-lime *,
.crossrider-nofity-43628-ntf-content-theme-light-grey,
.crossrider-nofity-43628-ntf-content-theme-light-grey *,
.crossrider-nofity-43628-ntf-content-theme-light-cyan,
.crossrider-nofity-43628-ntf-content-theme-light-cyan *,
.crossrider-nofity-43628-ntf-content-theme-peach,
.crossrider-nofity-43628-ntf-content-theme-peach *,
.crossrider-nofity-43628-ntf-content-theme-light-green,
.crossrider-nofity-43628-ntf-content-theme-light-green *,
.crossrider-nofity-43628-ntf-content-theme-white-black,
.crossrider-nofity-43628-ntf-content-theme-white-black *,
.crossrider-nofity-43628-ntf-content-theme-white-blue,
.crossrider-nofity-43628-ntf-content-theme-white-blue *,
.crossrider-nofity-43628-ntf-content-theme-white-darkred,
.crossrider-nofity-43628-ntf-content-theme-white-darkred *,
.crossrider-nofity-43628-ntf-content-theme-white-lime,
.crossrider-nofity-43628-ntf-content-theme-white-lime * {
	color:#000;
}

.crossrider-nofity-43628-header-theme-grey,
.crossrider-nofity-43628-header-theme-cyan,
.crossrider-nofity-43628-header-theme-orange,
.crossrider-nofity-43628-header-theme-lime,
.crossrider-nofity-43628-header-theme-navy,
.crossrider-nofity-43628-header-theme-dark-grey,
.crossrider-nofity-43628-header-theme-light-grey,
.crossrider-nofity-43628-header-theme-light-cyan,
.crossrider-nofity-43628-header-theme-peach,
.crossrider-nofity-43628-header-theme-light-green,
.crossrider-nofity-43628-header-theme-white-black,
.crossrider-nofity-43628-header-theme-white-blue,
.crossrider-nofity-43628-header-theme-white-darkred,
.crossrider-nofity-43628-header-theme-white-lime {
	height:22px;
	padding-top:10px;
	padding-bottom:5px;
}
	
	.crossrider-nofity-43628-icon-theme-grey,
	.crossrider-nofity-43628-icon-theme-cyan,
	.crossrider-nofity-43628-icon-theme-orange,
	.crossrider-nofity-43628-icon-theme-lime,
	.crossrider-nofity-43628-icon-theme-navy,
	.crossrider-nofity-43628-icon-theme-dark-grey,
	.crossrider-nofity-43628-icon-theme-light-grey,
	.crossrider-nofity-43628-icon-theme-light-cyan,
	.crossrider-nofity-43628-icon-theme-peach,
	.crossrider-nofity-43628-icon-theme-light-green,
	.crossrider-nofity-43628-icon-theme-white-black,
	.crossrider-nofity-43628-icon-theme-white-blue,
	.crossrider-nofity-43628-icon-theme-white-darkred,
	.crossrider-nofity-43628-icon-theme-white-lime {
		float:left;
		width:50px;
		height:50px;
		margin-right:10px;
		margin-bottom:10px;
	}

	.crossrider-nofity-43628-qmark-theme-grey,
	.crossrider-nofity-43628-qmark-theme-cyan,
	.crossrider-nofity-43628-qmark-theme-orange,
	.crossrider-nofity-43628-qmark-theme-lime,
	.crossrider-nofity-43628-qmark-theme-navy,
	.crossrider-nofity-43628-qmark-theme-dark-grey,
	.crossrider-nofity-43628-qmark-theme-light-grey,
	.crossrider-nofity-43628-qmark-theme-light-cyan,
	.crossrider-nofity-43628-qmark-theme-peach,
	.crossrider-nofity-43628-qmark-theme-light-green,
	.crossrider-nofity-43628-qmark-theme-white-black,
	.crossrider-nofity-43628-qmark-theme-white-blue,
	.crossrider-nofity-43628-qmark-theme-white-darkred,
	.crossrider-nofity-43628-qmark-theme-white-lime {
		float:left;
		width:16px;
		height:16px;
		background:url('https://w9u6a2p6.ssl.hwcdn.net/plugins/images/notifications/question-mark.gif');
		margin:6px 6px 0px 6px;
	}
	
	.crossrider-nofity-43628-title-theme-grey,
	.crossrider-nofity-43628-title-theme-cyan,
	.crossrider-nofity-43628-title-theme-orange,
	.crossrider-nofity-43628-title-theme-lime,
	.crossrider-nofity-43628-title-theme-navy,
	.crossrider-nofity-43628-title-theme-dark-grey,
	.crossrider-nofity-43628-title-theme-light-grey,
	.crossrider-nofity-43628-title-theme-light-cyan,
	.crossrider-nofity-43628-title-theme-peach,
	.crossrider-nofity-43628-title-theme-light-green,
	.crossrider-nofity-43628-title-theme-white-black,
	.crossrider-nofity-43628-title-theme-white-blue,
	.crossrider-nofity-43628-title-theme-white-darkred,
	.crossrider-nofity-43628-title-theme-white-lime {
		font-size:15px;
		font-weight:bold;
		width:auto;
		margin-left:13px;
	}
	
	/* close icon */
	.crossrider-nofity-43628-close-theme-grey,
	.crossrider-nofity-43628-close-theme-cyan,
	.crossrider-nofity-43628-close-theme-orange,
	.crossrider-nofity-43628-close-theme-lime,
	.crossrider-nofity-43628-close-theme-navy,
	.crossrider-nofity-43628-close-theme-dark-grey,
	.crossrider-nofity-43628-close-theme-light-grey,
	.crossrider-nofity-43628-close-theme-light-cyan,
	.crossrider-nofity-43628-close-theme-peach,
	.crossrider-nofity-43628-close-theme-light-green,
	.crossrider-nofity-43628-close-theme-white-black,
	.crossrider-nofity-43628-close-theme-white-blue,
	.crossrider-nofity-43628-close-theme-white-darkred,
	.crossrider-nofity-43628-close-theme-white-lime {
		position:absolute;
		right:-7px;
		top:-7px;
		width:25px;
		height:25px;
		font-weight:bold;
		font-size:0px;
		cursor:pointer;
		line-height:12px;
	}

	.crossrider-nofity-43628-close-theme-grey,
	.crossrider-nofity-43628-close-theme-dark-grey,
	.crossrider-nofity-43628-close-theme-light-grey {
		background:url('https://w9u6a2p6.ssl.hwcdn.net/plugins/images/notifications/flat/grey.close.png');
	}

	.crossrider-nofity-43628-close-theme-cyan,
	.crossrider-nofity-43628-close-theme-light-cyan {
		background:url('https://w9u6a2p6.ssl.hwcdn.net/plugins/images/notifications/flat/cyan.close.png');
	}

	.crossrider-nofity-43628-close-theme-orange,
	.crossrider-nofity-43628-close-theme-peach{
		background:url('https://w9u6a2p6.ssl.hwcdn.net/plugins/images/notifications/flat/orange.close.png');
	}

	.crossrider-nofity-43628-close-theme-lime,
	.crossrider-nofity-43628-close-theme-light-green {
		background:url('https://w9u6a2p6.ssl.hwcdn.net/plugins/images/notifications/flat/lime.close.png');
	}

	.crossrider-nofity-43628-close-theme-navy,
	.crossrider-nofity-43628-close-theme-white-blue {
		background:url('https://w9u6a2p6.ssl.hwcdn.net/plugins/images/notifications/flat/navy.close.png');
	}

	.crossrider-nofity-43628-close-theme-white-black {
		background:url('https://w9u6a2p6.ssl.hwcdn.net/plugins/images/notifications/flat/black.close.png');
	}

	.crossrider-nofity-43628-close-theme-white-darkred {
		background:url('https://w9u6a2p6.ssl.hwcdn.net/plugins/images/notifications/flat/darkred.close.png');
	}

	.crossrider-nofity-43628-close-theme-white-lime {
		background:url('https://w9u6a2p6.ssl.hwcdn.net/plugins/images/notifications/flat/green.close.png');
	}

.crossrider-nofity-43628-body-theme-grey,
.crossrider-nofity-43628-body-theme-cyan,
.crossrider-nofity-43628-body-theme-orange,
.crossrider-nofity-43628-body-theme-lime,
.crossrider-nofity-43628-body-theme-navy,
.crossrider-nofity-43628-body-theme-dark-grey,
.crossrider-nofity-43628-body-theme-light-grey,
.crossrider-nofity-43628-body-theme-light-cyan,
.crossrider-nofity-43628-body-theme-peach,
.crossrider-nofity-43628-body-theme-light-green,
.crossrider-nofity-43628-body-theme-white-black,
.crossrider-nofity-43628-body-theme-white-blue,
.crossrider-nofity-43628-body-theme-white-darkred,
.crossrider-nofity-43628-body-theme-white-lime {
	clear:both;
	padding:10px;
	padding-top:6px;
	min-height:50px;
}

.crossrider-nofity-43628-tooltip-theme-grey,
.crossrider-nofity-43628-tooltip-theme-cyan,
.crossrider-nofity-43628-tooltip-theme-orange,
.crossrider-nofity-43628-tooltip-theme-lime,
.crossrider-nofity-43628-tooltip-theme-navy,
.crossrider-nofity-43628-tooltip-theme-dark-grey,
.crossrider-nofity-43628-tooltip-theme-light-grey,
.crossrider-nofity-43628-tooltip-theme-light-cyan,
.crossrider-nofity-43628-tooltip-theme-peach,
.crossrider-nofity-43628-tooltip-theme-light-green,
.crossrider-nofity-43628-tooltip-theme-white-black,
.crossrider-nofity-43628-tooltip-theme-white-blue,
.crossrider-nofity-43628-tooltip-theme-white-darkred,
.crossrider-nofity-43628-tooltip-theme-white-lime {
	display:none;
	position:absolute;
	background:#F2F2F2;
	border:2px solid #848484;
	padding:8px;
	width:80%;
	top:0px;
	left:0px;
	color:#666;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	cursor:default;
}

	.crossrider-nofity-43628-tooltip-theme-grey button,
	.crossrider-nofity-43628-tooltip-theme-cyan button,
	.crossrider-nofity-43628-tooltip-theme-orange button,
	.crossrider-nofity-43628-tooltip-theme-lime button,
	.crossrider-nofity-43628-tooltip-theme-navy button,
	.crossrider-nofity-43628-tooltip-theme-dark-grey button,
	.crossrider-nofity-43628-tooltip-theme-light-grey button,
	.crossrider-nofity-43628-tooltip-theme-light-cyan button,
	.crossrider-nofity-43628-tooltip-theme-peach button,
	.crossrider-nofity-43628-tooltip-theme-light-green button,
	.crossrider-nofity-43628-tooltip-theme-white-black button,
	.crossrider-nofity-43628-tooltip-theme-white-blue button,
	.crossrider-nofity-43628-tooltip-theme-white-darkred button,
	.crossrider-nofity-43628-tooltip-theme-white-lime button {
		float:right;
		cursor:pointer;
	}
/*----------new--------*/
    .button_yellow{
		background:#f2b33d;
		border-radius:5px;
		padding:8px 10px;
		color:#333;
		border:none;
		font-weight: bold;
	}
	.button_yellow:hover{
		color:#f2b33d;
		background:#333;
		cursor:pointer;
	}
	.inputText_popup {
		border: 1px solid #ccc;
		padding: 8px 1%;
		margin: 15px 0 0 15px;
		width:92%;
	}
	.wrapper_popup{
		width:400px;
                
		margin:0 auto;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.44);
	}
    .heading_popup{
		border-bottom: 1px solid #e7e7e7;
		color: #333333;
		font-size: 12px;
		margin: 0;
		min-height: 20px;
		padding: 17px 18px 13px 18px;
	}
	.rmng_popup{
		border-bottom: 1px solid #e7e7e7;
		color: #333333;
		font-size: 14px;
		margin: 0;
		min-height: 20px;
		padding: 0px 0px 13px 0px;
	}
	.conts_popup{
		height:215px;
		overflow-y:auto;
		overflow-x:hidden;
	}
	.heading_popup h1{
		margin:0;
	}
	.formFooter {
		background: #f0f0f0;
		clear: both;
		padding: 6px 15px;
	}
		.multi-imgs{
		width:100%;
		height:200px;
		padding:0 15px;
		margin:0;
	}
	.multi-imgs li{
		list-style:none;
		float:left;
		margin-right:5px;
		margin-top:5px;
		border:1px solid #e7e7e7;
	}
	.multi-imgs li:last-child{
		margin-right:0;
	}
        </style>
<!--<div class="modal_pou_up" >
    <div class="add_pin_top_ab3 custom-model add_pin_top" >
        <div class="modal-content">-->


            <!--  Head  -->
            {{#if data}}        
            {{#each data}} 
            <div class="add_pin">
                <div class="row">
                    <div class="col-md-12">
                        <div class="add_pin_web_site">

                            <div id="pop_cont"> 
                                <img src="/default/images/ajax-loader.gif" id="loading2" style="display:none;"/>


                                {{#ifCond pin_type 'image'}}

                                <!--                                <div id="selectImage" >-->
                                <div class="wrapper_popup" id="selectImage">
                                    <div class="heading_popup">
                                        <h1>Pin Image</h1>
                                    </div>
                                    <form method="post" id="image_form" action="/pin_action">



                                        <div class="rmng_popup">
                                            <input type="hidden" name="full_url" value="{{pin_url}}" /> 
                                            <select name="board_id" id="board_id" class="inputText required inputText_popup">
                                                <option value="" selected="selected">Select Board</option>
                                                {{#each boards}}
                                                <option value="{{this._id}}">{{this.board_name}}</option>
                                                {{/each}}
                                            </select>  

                                            </select>
                                        </div>

                                       

                                        <div class="rmng_popup">
                                            <div class="conts_popup">
                                                
                                                <ul class="multi-imgs">
                                                    {{#if contents}}
                                                    {{#each contents}}

                                                    <li class="elem hiddenElem">
                                                        <span class="image-checkbox-container">
                                                            <input type="checkbox" checked="checked"  name="img_chkbox[]" class="img_chkbox" id="c{{@index}}" value="{{this}}" />
                                                            <input type="hidden" name="urls[]" value="{{this}}" />
                                                            <img src="{{this}}"  width="120px"/>
                                                        </span>
                                                    </li>
                                                    {{/each}}
                                                    {{else}}
                                                    No images found.
                                                    {{/if}}
                                                </ul>
                                            </div>               
                                        </div>
                                        <div class="rmng_popup">
                                            <textarea name="description" id="description" placeholder="Description" class="inputText required inputText_popup"></textarea>
                                        </div>
                                        <div class="formFooter common-share">
                                            <input type="button" name="Pinit" class="sharepin common-share button_yellow pin_it pint_close" value="Pin It" style="display: inline-block;">
                                        </div>


                                    </form>
                                </div>

                                {{/ifCond}}
                                {{#ifCond pin_type 'audio'}}
                                <div id="webaudioForm" class="wrapper_popup">
                                   
                                     <div class="heading_popup">
                                         <h1>Pin audio file from SoundCloud</h1>
                                    </div>
                                    <form id="webaudioUploadFromComputer" name="webaudio_form" method="post" action="/webaudio_action" >
                                        <input type="hidden" name="full_url" value="{{pin_url}}" /> 
                                        <div class="rmng_popup">
                                           <input type="hidden" value="video" name="pin_cat"/>
                                            <select name="board_id" id="board_id" class="inputText required inputText_popup">
                                                <option value="" selected="selected">Select Board</option>
                                                {{#each boards}}
                                                <option value="{{this._id}}">{{this.board_name}}</option>
                                                {{/each}}
                                            </select>  

                                            </select>
                                        </div>
                                        <div class="rmng_popup">
                                        <input type="text"  class="inputText required" name="url" id="url" value="{{pin_url}}"  />
<!--                                        <div id="show_song" style="width:96%; margin:15px auto 0 15px;"></div>-->
                                        </div>
                                        <div id="show_song" style="width:96%; margin:15px auto 0 15px;">
<!--                                            <object height="100" width="100%" id="yourPlayerId" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"><embed allowscriptaccess="always" src="http://player.soundcloud.com/player.swf?url=https://soundcloud.com/macklemore/macklemore-x-ryan-lewis-cant&amp;enable_api=true&amp;sharing=false&amp;show_comments=false&amp;show_user=false&amp;buying=false&amp;download=false&amp;show_artwork=false&amp;liking=false" type="application/x-shockwave-flash" height="100" width="100%" name="scloud_id">-->
                                            </object></div>
                                        
                                        <div class="rmng_popup">
                                            <textarea name="description" id="description" placeholder="Description" class="inputText required inputText_popup"></textarea>
                                        </div>
                                        <div class="formFooter common-share">
                                            <input type="button" name="Pinit" class="sharepin common-share button_yellow pin_it pint_close" value="Pin It" style="display: inline-block;">
                                        </div>
                                    </form>
                                </div>
                                {{/ifCond}}

                                <!-- youtube form -->
                                {{#ifCond pin_type 'video'}}
                                <div id="youtubeForm" class="wrapper_popup">
                                   <div class="heading_popup">
                                        <h1>Pin Video</h1>
                                    </div>
                                    <form id="videoUploadFromYoutube" method="post" action="/pinpage" enctype="multipart/form-data" >
                                        <input type="hidden" name="full_url" value="{{pin_url}}" />                                             
                                        <div class="rmng_popup">
                                           <input type="hidden" value="video" name="pin_cat"/>
                                            <select name="board_id" id="board_id" class="inputText required inputText_popup">
                                                <option value="" selected="selected">Select Board</option>
                                                {{#each boards}}
                                                <option value="{{this._id}}">{{this.board_name}}</option>
                                                {{/each}}
                                            </select>  

                                            </select>
                                        </div>
                                        <div class="rmng_popup">
                                        <input type="url" id="url" name="url" class="inputText required" value="http://www.youtube.com/{{#if contents}}watch?v={{contents}}{{/if}}" placeholder="Youtube URL" />
                                        </div>
<!--                                         <div class="rmng_popup">-->
                                        <iframe id="preview_id" src="" frameborder="0" style="display: none; margin-left: 20px;"></iframe>
<!--                                         </div>-->
                                         <div class="rmng_popup">
                                            <textarea name="description" id="description" placeholder="Description" class="inputText required inputText_popup"></textarea>
                                        </div>
                                        <div class="formFooter">
                                            <input type="button" name="Pinit" class="sharepin common-share button_yellow pin_it pint_close" value="Pin It" style="display: inline-block;">
                                        </div>
                                        
                                    </form>
                                </div>
                                {{/ifCond}}
                                <!-- webpage form -->
                                {{#ifCond pin_type 'web_page'}}
                                <div id="webpageForm" class="wrapper_popup">
                                    
                                    <div class="heading_popup">
                                        <h1>Add Webpage</h1>
                                    </div>
                                    <form id="webpageUpload" method="post" action="/pinpage" enctype="multipart/form-data" > 
                                        <input type="hidden" name="full_url" value="{{pin_url}}" /> 
                                        <input type="hidden" value="webpage" name="pin_cat"/>
                                       
                                        <div class="rmng_popup">
                                          
                                            <select name="board_id" id="board_id" class="inputText required inputText_popup">
                                                <option value="" selected="selected">Select Board</option>
                                                {{#each boards}}
                                                <option value="{{this._id}}">{{this.board_name}}</option>
                                                {{/each}}
                                            </select>  

                                            </select>
                                        </div>
                                       
                                        <input type="url" id="url" name="url" class="inputText required inputText_popup" value="{{pin_url}}" placeholder="Web URL"/>
                                        
                                        <img src="/default/images/ajax-loader.gif" id="loading_web" style="display:none; margin-left: 20px;"/>
                                        <img id="webpageshot" src="" style="display:none; margin-left: 20px;" width="250" height="250"/>       
                                        <div class="rmng_popup">
                                            <textarea name="description" id="description" placeholder="Description" class="inputText required inputText_popup"></textarea>
                                        </div>
                                        <div class="formFooter common-share">
                                            <input type="button" name="Pinit" class="sharepin common-share button_yellow pin_it pint_close" value="Pin It" style="display: inline-block;">
                                        </div>
                                    </form>
                                </div>
                                {{/ifCond}}
                                <!-- end addpin forms -->

                            </div>

                            <!--</form>-->
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each }} 
            {{/if}}

<!--        </div>
    </div>
</div>-->

<script>
    /* to clear pop up contents on each close */
    $("#myModal2").on('hidden.bs.modal', function () {
        $(this).data('bs.modal', null);
    });
    window.localStorage.removeItem('cubetSharepinId');
    $(function(){
        $('.common-share').show();
       
        $('.pint_close').click(function(){
             $('#loading2').show();
            var form = $(this).parents('form');
            form.validate();
            if(form.valid()){
                $.ajax({
                    type: 'post',
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function(){
                        $('#loading2').hide();
                        window.close();
                    },
                    error: function(){
                         $('#loading2').hide();
                        alert(1);
                    }
                });
            }
            
        
         
        })
        
        var mOpts = {
                itemSelector : '.elem',
                isFitWidth: true,
                isResizable: true,
                gutterWidth: 15,
                isAnimated: false,
                animationOptions: {
                    duration: 300,
                    easing: 'linear',
                    queue: false
                }
            }
if($('.multi-imgs').lenght>0)
{
$('.multi-imgs').masonry(mOpts);
}      
    });
        
    $(window).load(function(){
        if($('.multi-imgs').lenght>0)
{
$('.multi-imgs').masonry('reload');
}      
   
        /* first time load default view */
        //$("#loading2").css({'display':'block'});
        
        imageFunctions();
       
        if($('#webpageUpload #url').length>0){
       
            $('#loading_web').css({'display':'block'});
            var url = $('#webpageUpload #url').val();
        
            $.post('/screenshot',{'pageurl' : url},function(data,status){
                $("#webpageshot").attr("src", "/pins/images/temp/" + data.image).css({'display':'block','max-width':'680px'});
                $('#loading_web').css({'display':'none'});
            });
            return false;
        }
        if($('#videoUploadFromYoutube #url').length>0){
    
            var url = $('#videoUploadFromYoutube #url').val();
       
            if (url != '') {
                var matches = url.match(/^http:\/\/(?:www\.)?youtube.com\/watch\?(?=.*v=\w+)(?:\S+)?$/);
                //            if (matches) {
                var split_url = url.split("v=");
                var videoId = split_url[1];
                var embedCode = 'http://www.youtube.com/embed/' + videoId ; 
                $('#url').css({'border':'1px solid #ccc'}); 
                $("#preview_id").attr('src',embedCode).css({'display':'block'});
                //            } else {
                //                $('#url').css({'border':'1px solid red'}); 
                //            }
                //            
            } else {
                $('#url').css({'border':'1px solid red'}); 
            }
            return false;
        }
        if($('#url').length>0){
 
            if($("#url").val()!==''){
                var str = '<object height="100" width="100%" id="yourPlayerId" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">'
                    +'<embed allowscriptaccess="always" src="http://player.soundcloud.com/player.swf?url='+$("#url").val()
                    +'&enable_api=true&sharing=false&show_comments=false&show_user=false&buying=false&download=false&show_artwork=false&liking=false" type="application/x-shockwave-flash" height="100" width="100%" name="scloud_id"></embed>'
                    +'</object>';
                $("#show_song").html(str);
            }
        }
       

    });    




    function imageFunctions(){
        $("#imageForm").show();
        $("#imageForm input[type=radio][name=sub][value=local]").attr('checked','checked');
        $('#get_img').html('Upload');
        $('#get_img').unbind('click').bind('click',function(){
            $("#uploadFromComputer").validate();
            $('#uploadFromComputer').submit(); 
        });
        $("input[type=radio][name=sub]").unbind('click').bind('click',function(){
            var subtype = $("input[type=radio][name=sub]:checked").val();
            //alert(subtype);
            //clearing form fields,checkboxes and error messages
            $("input:radio").removeAttr('checked');
            $('input,select,textarea').removeClass('error').removeAttr('style');
            $('.errmsg,.msg').text('');
            if(subtype=='web'){
                $("#imageForm").hide();
                $('#imgUploadFromURL').get(0).reset();
                $("#urlForm").show(); 
                $("#urlForm input[type=radio][name=sub][value=web]").attr('checked','checked');
                $('#get_img').html('Find Images');
                $('#get_img').unbind('click').bind('click', function(){
                    actionFunction();
                });
                $(document).keypress(function(e) {
                    if(e.keyCode == 13) {
                        actionFunction();
                        return false; // set default event to false
                    }
                });
            } else if(subtype=='local'){
                $("#urlForm").hide();
                $('#uploadFromComputer').get(0).reset();
                $("#imageForm").show();
                $("#imageForm input[type=radio][name=sub][value=local]").attr('checked','checked');
                $('#get_img').html('Upload');
                $('#get_img').unbind('click').bind('click',function(){
                    $("#uploadFromComputer").validate();
                    $('#uploadFromComputer').submit(); 
                });
            } 
        });
    }

    function audioFunctions(){
        $("#audioForm").show();
        $("#audioForm input[type=radio][name=sub][value=local]").attr('checked','checked');
        $('#get_img').html('Upload');
        $('#get_img').unbind('click').bind('click',function(){
            $("#audioUploadFromComputer").validate();
            $('#audioUploadFromComputer').submit(); 
        });
        $("input[type=radio][name=sub]").unbind('click').bind('click',function(){
            var subtype = $("input[type=radio][name=sub]:checked").val();
            //clearing form fields,checkboxes and error messages
            $("input:radio").removeAttr('checked');
            $('input,select,textarea').removeClass('error').removeAttr('style');
            $('.errmsg,.msg').text('');
            if(subtype=='web'){
                $("#audioForm").hide();
                $('#webaudioUploadFromComputer').get(0).reset();
                $("#show_song").html('');
                $("#webaudioForm").show(); 
                $("#webaudioForm input[type=radio][name=sub][value=web]").attr('checked','checked');
                $('#get_img').html('Pin Audio');
                $('#get_img').unbind('click').bind('click',function(){
                    $("#webaudioUploadFromComputer").validate({rules: {url: "url"}}); 
                    $('#webaudioUploadFromComputer').submit(); 
                });
            } else if(subtype=='local'){
                $("#webaudioForm").hide();
                $('#audioUploadFromComputer').get(0).reset();
                $("#audioForm").show();
                $("#audioForm input[type=radio][name=sub][value=local]").attr('checked','checked');
                $('#get_img').html('Upload');
                $('#get_img').unbind('click').bind('click',function(){
                    $("#audioUploadFromComputer").validate();
                    $('#audioUploadFromComputer').submit(); 
                });
            } 
        });
    }

    function videoFunctions(){
        $("#videoForm").show();
        $("#videoForm input[type=radio][name=sub][value=local]").attr('checked','checked');
        $('#get_img').html('Upload');
        $('#get_img').unbind('click').bind('click',function(){
            $("#videoUploadFromComputer").validate();
            $('#videoUploadFromComputer').submit(); 
        });
        $("input[type=radio][name=sub]").unbind('click').bind('click',function(){
            var subtype = $("input[type=radio][name=sub]:checked").val();
            //clearing form fields,checkboxes and error messages
            $("input:radio").removeAttr('checked');
            $('input,select,textarea').removeClass('error').removeAttr('style');
            $('.errmsg,.msg').text('');
            if(subtype=='web'){
                $("#videoForm").hide();
                $('#videoUploadFromYoutube').get(0).reset();
                $("#preview_id").hide();
                $("#youtubeForm").show(); 
                $("#youtubeForm input[type=radio][name=sub][value=web]").attr('checked','checked');
                $('#get_img').html('Pin video');
                $('#get_img').unbind('click').bind('click',function(){
                    $("#videoUploadFromYoutube").validate({rules: {video_link: "url"}}); 
                    $('#videoUploadFromYoutube').submit(); 
                });
            } else if(subtype=='local'){
                $("#youtubeForm").hide();
                $('#videoUploadFromComputer').get(0).reset();
                $("#videoForm").show();
                $("#videoForm input[type=radio][name=sub][value=local]").attr('checked','checked');
                $('#get_img').html('Upload');
                $('#get_img').unbind('click').bind('click',function(){
                    $("#videoUploadFromComputer").validate();
                    $('#videoUploadFromComputer').submit(); 
                });
            } 
        });
    }

    function webpageFunctions(){
        $("#webpageForm").show();
        //clearing form fields,checkboxes and error messages
        $("input:radio").removeAttr('checked');
        $('input,select,textarea').removeClass('error').removeAttr('style');
        $('.errmsg,.msg').text('');
        $('#webpageUpload').get(0).reset();
        $("#webpageshot").hide();
        $("#webpageForm").show(); 
        $('#get_img').html('Pin Webpage');
        $('#get_img').unbind('click').bind('click',function(){
            $("#webpageUpload").validate({rules: {url: "url"}}); 
            $('#webpageUpload').submit(); 
        });
    }

    function actionFunction(){
        var str = $("#url").val(); 
        if($("#url").val()==''){
            $("#url").css({'border':'1px solid red'});
            return false;
        } else  if(str.substr(0,4)!='http') {
            $("#url").css({'border':'1px solid red'});
            //alert('Enter a valid URL.');
            $(".errmsg").text("Enter a valid URL.(eg: http://www.example.com)");
            return false;
        } else {
            // alert($("#url").val());
            $("#loading1").css({'display':'block'});
            $.post('/post_url',
            {'url' : $("#url").val() },
            function(data){
                $("#loading1").css({'display':'none'});
                $(".modal_pou_up").html(data);
                //alert(data);
            }
        );
        }
    }

</script>
<div class="crossrider-nofity-43628" index="0"></div><div class="crossrider-nofity-43628-top-left"></div><div class="crossrider-nofity-43628-top-right"></div><div class="crossrider-nofity-43628-bottom-left"></div><div class="crossrider-nofity-43628-bottom-right"></div>
