<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{{subject}}</title>
</head>

<body style="width:99% height:auto; background:#FFF;">
<center>
  <table width="600" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
    <tr>
      <td colspan="2" align="left" style=" border-bottom:1px solid #ccc; padding:30px 10px;" background="#fafafa"> <img src="{{logo}}" width="40%"> </td>
    </tr>
    <tr>
      <td colspan="2" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:20px; font-weight:bold; color:#666; padding:15px 0 0 10px;"> {{subject}}</td>
    </tr>
     <tr>
      <td colspan="2" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#666; padding:15px 15px; line-height:24px;"> 
{{{body}}}

</td>
    </tr>
    
    
    <tr>
      <td colspan="2" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:normal; color:#666; padding:13px 0 15px 15px; border-bottom-width:560px;">{{DEFINES.site_title}}</td>
    </tr>
    
     <tr>
      <td colspan="2" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666; padding:15px 15px; border-bottom:solid 1px #ccc; line-height:24px;">  
     	                                                                &nbsp;<a href="#" style="color:#666;">unsubscribe from this list </a> | <a href="#"  style="color:#666;">update subscription preferences</a> | <a href="#"  style="color:#666;">view email in browser</a>&nbsp;

      </td>
      </tr>
    
  </table>
</center>
</body>
</html>
