/***Nishad-styles******/
body{font-size:13px;-webkit-font-smoothing: antialiased !important;}
.clear{ clear:both;}
.carousel-indicators {left:27%}

.carousel.slide.custom{ margin-bottom:24px;}
.custom .carousel-control{ display:none;}
.custom .carousel-indicators{ width:100%;   
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; right:0px !important; text-align:center; top:inherit !important; bottom:-35px;}
.custom .carousel-indicators li{ display:inline-block !important; float:none !important; background:#cccccc !important;}
.custom .carousel-indicators .active{ background:#999999 !important;}
.custom .carousel-inner{ position:relative;}
.time_1{ position:absolute; background:#000; opacity:.4; left:0; bottom:0; top:0;  width:50%; display:none; text-align:center; }
.time_2{ position:absolute; background:#000; opacity:.4; right:0; bottom:0; top:0;  width:50%; display:none; text-align:center;}
.custom .carousel-inner:hover .time_1{ display:block; -webkit-transition: all 1s ease 0s;-o-transition:all 1s ease 0s;-moz-transition: all 1s ease 0s;transition: all 1s ease 0s;}
.custom .carousel-inner:hover .time_2{ display:block; -webkit-transition: all 1s ease 0s;-o-transition:all 1s ease 0s;-moz-transition: all 1s ease 0s;transition: all 1s ease 0s;}
.custom .carousel-inner:hover .time_1:hover{ opacity:.8;}
.custom .carousel-inner:hover .time_2:hover{ opacity:.8;}
.time_1 i{ background: url(../images/search.png) no-repeat center 9px #f3aa21;
 		  -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
		  width:40px; height:40px;
		  display:inline-block;
		  position:absolute; left:50%; top:50%; margin-left:-20px; margin-top:-20px;

}
.time_2 i{ background: url(../images/icons.png) no-repeat center #f3aa21; background-position: 0 -270px;  
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
		  width:40px; height:40px;
		  display:inline-block;
		  position:absolute; left:50%; top:50%; margin-left:-20px; margin-top:-20px;

}
.time_1 p{vertical-align:middle;
		  display:table-cell;}
		  
.sep_brdr{border-bottom:solid 1px #ddd; padding-bottom:10px !important; margin-bottom:10px !important; padding:10px; border-radius: 3px; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33); background:rgba(255,255,255,.9)}
.replinks{float:left;}
.sharegr{float:right;}
.prfl_dtls{ border-bottom:solid 1px #ddd; padding-bottom:10px !important; margin-bottom:10px !important;}
.coment_wraper a{ color:#000; font-size:14px; font-weight:bold;}
.coment_wraper span{ color:#000; font-size:12px; font-weight:normal;}


.post-content {
    border-bottom: 1px solid #DDDDDD;
    margin: 0 10px 16px;
	text-align:left;
}

.post-content h2	 		{ color:#777; }
.post-content a	 			{ color:#232323; }
.post-content a:hover		{ color:#000; }




.date, .notes {
    float: left;
    line-height: 26px;
    margin-right: 20px;
    text-decoration: none;
}

.date .icon {
    background-position: 2px -223px;
}
.notes .icon {
    background-position: -18px -223px;
}
.permalink {
    background-position: -62px -223px;
}
.comments {
    background-position: -83px -223px;
    clear: both;
    display: block;
    float: left;
    line-height: 25px;
    padding-left: 30px;
    text-decoration: none;
}


.dropdown-toggle_wight{width:250px;}






.post-info-inner{ position:relative; padding-bottom:10px !important; border-bottom:solid 1px #ddd; margin:0 5px; float:left; width:97%;}

.post-info-inner .flag1{ position:absolute; right:0px; bottom:15px; height:18px; width:15px; display:block; background-image:url(../images/icons.png); background-position: left bottom;}




.post-info-inner .tags {
    clear: both;
    position: relative;
}
.post-info-inner .tags a{ text-decoration:none; line-height:18px; float:left;}
.post-info-inner .tags a:after{ content: ",";}
.post-info-inner .tags a:last-child:after{ content: "";}

.post-info-inner .tags .icon {background-image:url(../images/icons.png);
    background-position: -39px -221px;
    left: 0;
    position: absolute;
    top: 2px;
}

/*@media only screen and (max-width : 479px) {
    
    .modal-dialog.custom-model{width: 100% ! important;}
    
}*/



.post-info-inner .icon, .post-info-inner .permalink, .post-info-inner .comments{
	background-image:url(../images/icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 25px;
    margin-right: 5px;
    width: 25px;
	float:left;
	}
	
.post-info-inner a {
    color: #232323;
}



.modal-dialog.custom-model{ width:80%;}
.custom-model .modal-header{ border:0}

.btn-inverse {
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.sharegr_share { background-image:url(../images/pop-right-icn.png); background-repeat: no-repeat; background-position:20px 12px; padding:20px 30px; border:0; border-radius:4px;}
  
  

.image_prew{ display:block; background:#ccc; padding:10px; overflow:hidden}
.prfl_img{ float:left;}
.prfl_cntnts{ margin-left:60px;}
.prfl_img a img, .prfl_img img {
    display: block;
    height: 50px;
    width: 50px;
}


.well{ padding:19px !important; margin-bottom:20px;}
.wells .btn{ margin-top:20px;}

.overflw_sectn{  overflow-x: hidden;   height:357px;
    overflow-y: auto; border:solid 1px #ddd; padding:2px !important; margin-top:15px; 
}
.overflw_sectn ul{ list-style:none; margin:0 -20px 0 0; padding:0 0 0 0;}
.overflw_sectn ul li{ float:left; margin-right:5px; margin-bottom:5px; opacity:.5;}
.overflw_sectn ul li a img, .overflw_sectn ul li img{ width:76px; display:block; }
.overflw_sectn ul li:hover{ opacity:10;}

h4.domainSubtitle{ margin:0 0 0 0; font-size:14px;}
h3.domainName{ margin:0 0 0 0; font-size:17px; line-height:22px; color:#000;}
ul.other_pns{ list-style:none; padding:0 0 0 0; margin:10px 0 0 0; overflow:auto;}
ul.other_pns li{ float:left; margin:0px 4px 4px 0px;}
ul.other_pns li a img, ul.other_pns li img{ width:50px; height:50px; display:block;}


.persnl_details a img, .persnl_details img {
    background: none repeat scroll 0 0 hsl(0, 0%, 80%);
    display: block;
    float: left;
    height: 28px;
    margin-top: 2px;
    width: 28px;
}
.persnl_details .contns {
    font-size: 11px;
    line-height: 17px;
    margin-left: 35px;
	
}
.persnl_details{ padding:15px 8px !important; float:left;}
#container{/*overflow:inherit !important;*/}
.share em{ background:url(../images/pop-right-icn.png) no-repeat; width:20px; height:20px; display:block;}

.contns a.name {
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
	color:#232323;
}

.contns a.subtle {
    display: block;
    font-weight: normal;
	text-align:left;
	color:#232323;
}

.logo-top{-moz-box-sizing: border-box; padding: 0 2.27%;}
.navbar_center{width:200px; margin:0 auto;}

.dropdown-toggle.catgry-btn{margin: 10px 5px 0 0; padding:5px 10px; border: 1px solid #D7D7D7 !important; background: #f5f5f5; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #f5f5f5 0%, #e0e0e0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f5f5f5 0%,#e0e0e0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-8 */}
.dropdown-toggle.catgry-btn:hover{background: linear-gradient(to bottom,  #ccc 0%,#e3ded9 100%);background: -moz-linear-gradient(to bottom,  #ccc 0%,#e3ded9 100%);}
.right-toggle li{ background:#333;}


.right-toggle:hover, .right-toggle:focus{border: 1px solid #D7D7D7 !important; background: #f5f5f5; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #f5f5f5 0%, #e0e0e0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f5f5f5 0%,#e0e0e0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-8 */}

.top-cntnt-right{ float:left; margin:14px 0 0 0;}

.profile-toggle-list{ background: #f5f5f5; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #f5f5f5 0%, #e0e0e0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f5f5f5 0%,#e0e0e0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-8 */ }
.dropdown-toggle.open.catgry-btn:hover {background:none !important;}


.navbar-nav > li > .dropdown-menu.catgry-list li a{ font-weight:600; background:none; color:#999; }
.navbar-nav > li > .dropdown-menu.catgry-list li a:hover{color:#222; background:#CCC;}
.dropdown .dropdown-menu li{border-bottom:solid 1px #ccc;}
.dropdown .dropdown-menu li:last-child{border-bottom:none;}
.dropdown .dropdown-menu li a{padding:10px 20px; font-weight:bold; font-size:13px; color:#444;}
.dropdown .dropdown-menu li a:hover{background:rgb(255, 249, 237); color:#000;}

.navbar-right .right-dropd{ margin:0; padding:0;}
.navbar-right.right-dropd li a{}
.right-toggle{ float:left; padding:5px 8px !important; border: 1px solid #D7D7D7; background: #f5f5f5; /* Old browsers */
}

.right-toggle li{ }
.right-toggle:hover, .right-toggle:focus{border: 1px solid #D7D7D7 !important; background: #f5f5f5; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
}

.top-cntnt-right{ float:left; margin:14px 0 0 0;}

.profile-toggle-list{ background: #f5f5f5; border: solid 1px #d7d7d7; padding:0 !important}


.dropdown-toggle.profile-toggle-list:hover {background:#fff1d7 !important;
}

.dropdown-toggle.notify{padding:6px 10px !important; background: #F2B33D; color:#292929 !important; text-shadow:none; 
}

.dropdown-toggle.notify:hover, .dropdown-toggle.notify:focus, .dropdown-toggle.notify:active{ background:#FBCE52 !important; color:#292929 !important;}


.user-info{ padding:0 10px;}
.dropdown-menu.user_add_drop{ width:100%;padding:0 !important;}




/*----------New--------------*/
.youtube-col{ overflow:auto;}

.player{margin:0; width:100%; overflow:hidden;}
.videoWrapper {
	position: relative;
}
.videoWrapper iframe {
	margin-top:10px;
	width: 100%;
}
.youtube_player{}

#cubet_prfl{width:95%; margin:0 auto;}

.input-group .input-group-btn .btn-default:hover, 
.input-group .input-group-btn .btn-default:focus, 
.input-group .input-group-btn .btn-default:active, 
.input-group .input-group-btn .btn-default.active {
	border-color:rgb(204,204,204);}

.input-group input:focus{border:1px solid rgb(204, 204, 204); box-shadow:none;}
.input-group .input-group-btn .btn-default{background:#FFF; box-shadow:none; border-left:none;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset; border-radius:0;}
.input-group .form-control{border-right:none; border-radius:0;}
.post-content h2{font-size:20px; padding:0;}


/*---like button--*/
.a-btn {
    background: -moz-linear-gradient(center top , rgb(234, 234, 234) 0%, rgb(216, 216, 216) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    clear: both;
    display: inline-block;
    float: right;
    height: 38px;
    margin: 8px 0 0 5px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 40px;
    position: relative;
    transition: all 0.3s linear 0s;
	background:url(../images/like.png) 10px 8px no-repeat;
	position:absolute;
	
	
}

.a-btn-slide-text {
    background: none repeat scroll 0 0 rgb(99, 112, 126);
    color: rgb(255, 255, 255);
    font-size: 16px;
    height: 100%;
    line-height: 38px;
    overflow: hidden;
    position: absolute;
    left: 32px;
    text-align: left;
    text-indent: 10px;
    text-shadow: 0 -1px 1px rgb(54, 63, 73);
    text-transform: uppercase;
    top: 0;
    transition: width 0.3s linear 0s;
    white-space: nowrap;
    width: 0px;
}

.a-btn:hover {
    padding-right: 110px;
}

.a-btn:hover .a-btn-slide-text {
    width: 61%;
}

.a-btn:active, .a-btn.active {
    /*background: none repeat scroll 0 0 rgb(51, 51, 51);
    border-color: rgb(128, 169, 218);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    top: 1px;*/
    background:url(../images/like_click.png) 10px 8px no-repeat;
    position:absolute;
    /*left:150px;*/
}

.wells .btn:hover, .wells .btn:focus, .btn-group .btn:hover, .btn-group .btn:focus{color:#f2b33d;}

.follow_cubet{margin:20px 0 0;}

.follow_btn {background:url(../images/follow.png) no-repeat 0 0; height:19px; width:19px; float:left; margin:0 5px 0; transition:.2s; cursor:pointer;}
.follow_btn:hover {background:url(../images/follow.png) no-repeat -22px 0;}
.follow_btn:active {background:url(../images/follow.png) no-repeat -42px 0; }
.web_site{background: url("../images/icons.png") no-repeat scroll -77px -272px rgba(0, 0, 0, 0);cursor: pointer;float: right;height: 29px;margin: 8px 0 0 10px;width: 30px; position:absolute;  top:0;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{background:#feeecf;}
.post-info-inner .date{padding:0 5px; color:#888; font-size:12px}
.post-info-inner .text{float:left; padding:5px 12px 0 0;}
.icon_img{width:28px; height:28px; margin-top:2px; float:left;}

.close_yellow{color:rgb(254, 170, 50);   
	float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 #ffffff;
}
  .close_yellow a{color:#000;}
 .close_yellow:hover,
.close_yellow:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
}

button.close_yellow {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
  
  
#pop_up_container{padding:20px 0 0 0;
	margin: 0 auto;
	position:relative;}
	
.flag_bg {position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 1040;display: none;overflow: auto;overflow-y: scroll;}
.date.active, .date:active{color:rgb(250,181,59);}
.flag_icon{}

.modal{background:rgba(227, 224, 226, 0.95) !important;}

.cubetlogin{float:right; font-size:16px; margin:5px 5% 0 0; color:#333; cursor: pointer;}
.cubetlogin:active{color:rgb(242, 179, 61);}

.popup_share{width:60px; position:absolute; top:12px; right:20px;}
.popup_share a {
    float: left;
}
/* Arya*/
.time_1.time_1_change_width {  width:100%; }
.header-logout {padding-bottom: 16px;}

/*Robin*/
.glyphicon-heart.date {
    margin-right: 10px;
    text-decoration: none;
}

.glyphicon-flag.date {
    float: right;
    text-decoration: none;
}
/*Jithin*/
.re-pin{
    background: none repeat scroll 0 0 padding-box #323232;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(5, 6, 18, 0.12);
    color: #FEAE32;
    float: right;
    font-size: 13px;
    margin-top: 5px;
    padding: 4px 10px;

}
.cubet_up{position:fixed; right:2%; z-index:88888;  background:#323232; color:rgb(254, 174, 50); font-size:25px; padding:10px 20px; bottom:0;
    font-family: 'Glyphicons Halflings';
}

.board_show{
    float:right;
}

.contns > p {
    font-size: 10px;
    margin: 0;
}

.element {
    -webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.modal-content.pin-detail{background:none !important; border:none !important; box-shadow:none !important;}
.new_bg{background:rgba(255,255,255,.8); padding:10px; border-radius: 3px; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);}
.new_bg_pin{margin-top:15px;}
.top{margin-bottom:15px;}
h4.new_bg {text-align: center}

/*fix bg scroll modal*/
html.modal-open, html.modal-open body {
	height:100%;
    overflow: hidden;
}
body {
	overflow-x:hidden;
}

button.close_yellow.fix {
    background: linear-gradient(#FFFFFF, #EBEBEB) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
    cursor: pointer;
    font-size: 37px;
    line-height: 28px;
    padding: 8px 12px;
    position: fixed;
    right: 7%;
    text-shadow: none !important;
    top: 0;
    z-index: 9999;
}

button.close_yellow.fix:hover{ background: linear-gradient(#EFEEEE, #EBEBEB) repeat scroll 0 0 rgba(0, 0, 0, 0);}
.single_colm .board_show { float: left; }
.flex-active-slide img {
width:auto;
}
