<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Installation</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet"  href="/default/css/bootstrap.css" />
        <link rel="stylesheet"  href="/default/css/bootstrap-theme.css" />
        <link rel="stylesheet" href="/default/css/main.css">
        <link href="/default/css/style.css" rel="stylesheet" type="text/css">
        <link href="/default/css/profile_setting.css" rel="stylesheet" type="text/css">


        <script src="/default/js/jquery-1.8.2.min.js"></script>
        <script src="/default/js/jqueryform.js"></script>
        <script src="/default/js/bootstrap.min.js"></script>
        <script src="/default/js/jquery-validation.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>


    </head>
    <style>
        .error
        {
            border: 1px solid red !important;
        }

        label.error {
            display:none !important;
        }

        .acc-check.error {
            display: inline-block !important;
        }
        .status-head{
            color: #505050;  
            font-weight: 400;
            font-size: 14px;
            line-height: 23px;
            list-style: none outside none;
            margin: 0 auto 20px;
            padding: 0;
            width: 50%
        }
        .final-msg{
            color: #333333;
            font-weight: 600;
            line-height: 30px;
            text-align: center;
        }
        .install-label{
            width:92.8% !important;
        }
        .input-label{
            font-weight: 400;
            margin-top: 15px;
        }
        .account_chk{
            visibility:  hidden;
        }

        .account_chk + label {
            background-color: rgb(233, 233, 233);
            padding: 9px;
            display: inline-block;
            position: relative;
            margin-top:30px;
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
            position: relative;
            right: 14px;
            top: 10px;
        }


        .account_chk + label:active, .account_chk + label:active {
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
        }

        .account_chk:checked + label {
            background-color: rgb(244, 121, 98);
            color: #99a1a7;
        }

        .account_chk:checked + label:after {
            content: '\2714';
            font-size: 14px;
            position: absolute;
            top: 0px;
            left: 3px;
            color: rgb(255,255,255);
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
        }

        span.wrapper {
            cursor:pointer;
        }

	.restart-msg{font-size:16px; color:rgb(250, 143, 22); font-weight:400;} 
	.comm-data{margin-top:40px;}
    </style>
    <header class="navbar navbar-default navbar-fixed-top nav_mob" style="z-index:2000">
        <div class="row">
            <div class="col-md-4 cubet_search_main"> <a href="javascript:;" ></a>


            </div>
            <div class="col-md-4 cubet_board"><a href="javascript:;" class="logo"><img src="/site-logo.png" ></a></div>

        </div>

    </header>


    <body>

        <div class="modal_pou_up profile_set install">

            <div class="modal-dialog custom-model">

                <form name="installform" id="installform" method="POST" action="/installApp" enctype="multipart/form-data">

                    <div class="modal-content"> 
                        <h2>INSTALLATION</h2>
                        <div class="profile_setting">
                            <div class="row">
                                <div class="col-md-10 col-xs-offset-1">


                                    <!-- <ul class="nav nav-tabs">
                                         <li><a href="#Agreement" data-toggle="tab">Agreement</a></li>
                                         <li><a href="#Config" data-toggle="tab">Configuration Details</a></li>
                                         <li><a href="#Settings" data-toggle="tab">Settings Details</a></li>
                                     </ul>-->

                                    <!-- Tab panes -->
                                    <div class="tab-content tab_ul">


                                        <div class="tab-pane active" id="Agreement">
                                            <h3>License Agreement</h3>
                                            <div class="terms">


                                                <p>This End-User License Agreement (EULA) is a legal agreement between you (either an individual or a single entity) and Cubet Techno Labs for the software product Myyna.</p>

                                                <p>By installing, copying, or otherwise using the Myyna, you agree to be bounded by the terms of this EULA.
                                                    If you do not agree to the terms of this EULA, do not install or use the Myyna.</p>

                                                <h4>SOFTWARE PRODUCT LICENSE</h4>
                                                <p> a) Myyna Free Version is being distributed as Freeware for personal, commercial use, non-profit organization, educational purpose.  You are NOT allowed to make a charge for distributing this Software (either for profit or merely to recover your media and distribution costs) whether as a stand-alone product, or as part of a compilation or anthology, nor to use it for supporting your business or customers. It may be distributed freely on any website or through any other distribution mechanism, as long as no part of it is changed in any way.</p>


                                                <p>1. GRANT OF LICENSE. This EULA grants you the following rights: Installation and Use. You may install and use an unlimited number of copies of the SOFTWARE PRODUCT.

                                                    Reproduction and Distribution. You may reproduce and distribute an unlimited number of copies of the SOFTWARE PRODUCT; provided that each copy shall be a true and complete copy, including all copyright and trademark notices, and shall be accompanied by a copy of this EULA.

                                                    Copies of the SOFTWARE PRODUCT may be distributed as a standalone product or included with your own product as long as The SOFTWARE PRODUCT is not sold or included in a product or package that intends to receive benefits through the inclusion of the SOFTWARE PRODUCT.</p>


                                                <p>2. DESCRIPTION OF OTHER RIGHTS AND LIMITATIONS.
                                                    Limitations on Reverse Engineering, Decompilation, Disassembly and change (add,delete or modify) the resources in the compiled the assembly. You may not reverse engineer, decompile, or disassemble the SOFTWARE PRODUCT, except and only to the extent that such activity is expressly permitted by applicable law notwithstanding this limitation.</p>


                                                <p> Separation of Components.</p>
                                                <p> The SOFTWARE PRODUCT is licensed as a single product. Its component parts may not be separated for use on more than one computer.</p>

                                                <p>Software Transfer.</p>
                                                <p>You may permanently transfer all of your rights under this EULA, provided the recipient agrees to the terms of this EULA.</p>

                                                <p>Termination.</p>
                                                <p> Without prejudice to any other rights, the Author of this Software may terminate this EULA if you fail to comply with the terms and conditions of this EULA. In such event, you must destroy all copies of the SOFTWARE PRODUCT and all of its component parts.</p>

                                                <p> 3. COPYRIGHT.</p>
                                                <p>All title and copyrights in and to the SOFTWARE PRODUCT (including but not limited to any images, photographs, clipart, libraries, and examples incorporated into the SOFTWARE PRODUCT), the accompanying printed materials, and any copies of the SOFTWARE PRODUCT are owned by Cubet Techno Labs. The SOFTWARE PRODUCT is protected by copyright laws and international treaty provisions. Therefore, you must treat the SOFTWARE PRODUCT like any other copyrighted material. </p>

                                                <h4> LIMITED WARRANTY</h4>

                                                <p>NO WARRANTIES.</p>
                                                <p>Cubet Techno Labs expressly disclaims any warranty for the SOFTWARE PRODUCT. The SOFTWARE PRODUCT and any related documentation is provided “as is” without warranty of any kind, either express or implied, including, without limitation, the implied warranties or merchantability, fitness for a particular purpose, or noninfringement. The entire risk arising out of use or performance of the SOFTWARE PRODUCT remains with you.</p>

                                                <h4>NO LIABILITY FOR DAMAGES.</h4>
                                                <p>In no event shall the author of this Software be liable for any special, consequential, incidental or indirect damages whatsoever (including, without limitation, damages for loss of business profits, business interruption, loss of business information, or any other pecuniary loss) arising out of the use of or inability to use this product, even if the Author of this Software is aware of the possibility of such damages and known defects.</p>
                                            </div>
                                            <div class="input-group margin form">
                                                <span class="wrapper">
                                                    <input type="checkbox" name="agree" id="agree" value="1" class="required account_chk" /><label class="acc-check" for="agree"></label>
                                                    &nbsp;<span>I Agree</span>
                                                </span>
                                            </div>
                                            <input type="button" id="first_step" class="submit nextbutton" value="Next">

                                        </div>

                                        <div class="tab-pane" id="Config">
                                            <h3>Configuration</h3>
                                            <div id="permission" style="color:red">
                                                Please provide read and write permission to your config and db files and refresh.
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 ">                                            
                                                    <label class="input-label">Application Port</label>
                                                </div>
                                                <div class="col-md-10 ">
                                                    <div class="input-group margin form install-label">

                                                        <input class="form-control" placeholder="Application Port" type="text"  name="app_port" id="app_port" 
                                                               value="3000"    required value=""/>                                    
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 ">                                            
                                                    <label class="input-label">Host</label>
                                                </div>
                                                <div class="col-md-10 ">
                                                    <div class="input-group margin form install-label">

                                                        <input class="form-control" placeholder="Host" type="text"  name="base_url" id="base_url" required  value="localhost"/>                                   
                                                    </div>
                                                </div>
                                            </div>
                                            <h4>Database</h4>
                                            <div class="row">
                                                <div class="col-md-2 ">                                            
                                                    <label class="input-label">Host</label>
                                                </div>
                                                <div class="col-md-10 ">
                                                    <div class="input-group margin form install-label">

                                                        <input class="form-control" placeholder="Host" type="text"  name="db_host" id="db_host" required  value=""/>                                   
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 ">                                            
                                                    <label class="input-label">User Name</label>
                                                </div>
                                                <div class="col-md-10 ">
                                                    <div class="input-group margin form install-label">

                                                        <input class="form-control" placeholder="Username" type="text"  name="db_user" id="db_user"  value=""/>                                   
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 ">                                            
                                                    <label class="input-label">Password</label>
                                                </div>
                                                <div class="col-md-10 ">
                                                    <div class="input-group margin form install-label">

                                                        <input class="form-control" placeholder="Password" type="password"  name="db_password" id="db_password"  value=""/>                                   
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 ">                                            
                                                    <label class="input-label">Database Name</label>
                                                </div>
                                                <div class="col-md-10 ">
                                                    <div class="input-group margin form install-label">

                                                        <input class="form-control" placeholder="Name" type="text" required  name="db_name" id="db_name" value="cubetBoard"/>                                   
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="input-group margin form input-checkbox">
                                                <span class="wrapper">
                                                    <input type="checkbox" name="db_sample" id="dbname" value="1" checked class="account_chk" /><label class="acc-check" for="dbname"></label>&nbsp;Install Sample Data   
                                                </span>
                                            </div>

                                            <input type="button" id="second_step" class="submit nextbutton" value="Next"> 
                                            <input type="button" id="back1" class="submit" value="Back">  
                                        </div>

                                        <div class="tab-pane" id="Settings">
                                            <h3>Admin Settings</h3>
                                            <div class="row">
                                                <div class="col-md-2 ">                                            
                                                    <label class="input-label">Admin Username</label>
                                                </div>
                                                <div class="col-md-10 ">
                                                    <div class="input-group margin form install-label">

                                                        <input class="form-control" placeholder="Admin Username" type="text"  name="admin_username" id="admin_username"  value="" required/>                                   
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 ">                                            
                                                    <label class="input-label">Admin Password</label>
                                                </div>
                                                <div class="col-md-10 ">
                                                    <div class="input-group margin form install-label">
                                                        <input class="form-control" placeholder="Admin Password" type="password"  name="admin_pass" id="admin_pass"  value="" required/>                                   
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 ">                                            
                                                    <label class="input-label">Admin Email</label>
                                                </div>
                                                <div class="col-md-10 ">
                                                    <div class="input-group margin form install-label">
                                                        <input class="form-control email" placeholder="Admin Email" type="text"  name="adm_email" id="adm_email"  value=""/>                                   
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 ">                                            
                                                    <label class="input-label">Title</label>
                                                </div>
                                                <div class="col-md-10 ">
                                                    <div class="input-group margin form install-label">
                                                        <input class="form-control" placeholder="Title" type="text"  name="adm_title" id="adm_title"  value=""/>                                   
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 ">                                            
                                                    <label class="input-label">Meta KeyWord</label>
                                                </div>
                                                <div class="col-md-10 ">
                                                    <div class="input-group margin form install-label">
                                                        <input class="form-control" placeholder="Meta KeyWord" type="text"  name="adm_keyword" id="adm_keyword"  value=""/>                                   
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-2 ">                                            
                                                    <label class="input-label">Site Logo</label>
                                                </div>
                                                <div class="col-md-10 ">
                                                    <div class="container_image">

                                                        <label class="file_label"></label>
                                                        <input type="file" name="site_logo" id="site_logo" />
                                                        <img id="img" height="25px" width="186px" src="../site-logo.png" alt=""/>
                                                    </div>
                                                </div>




                                            </div>

                                            <div class="input-group margin form input-checkbox">
                                                <span class="wrapper">
                                                    <input type="checkbox" name="notify" id="notify" value="" class="account_chk" checked/><label class="acc-check" for="notify"></label>&nbsp;<span>Send installation details to cubet server for updates & news. (We'll never publish your information anywhere.)</span>   
                                                </span>
                                            </div> 


                                            <input type="submit" id="extract" class="submit nextbutton" value="Next">
                                            <input type="button" id="back2" class="submit" value="Back">  
                                        </div>
                                        <div class="tab-pane " id="final_state">
                                            <div class="fstate">
                                                <ul class="status-head">                                                                                           
                                                </ul>
                                            </div>
                                            <div id="finish" class="final-msg">
                                                <div class="restart-msg">Installed successfully</div>
                                                <p class="restart-msg">Restart and feel the awesome.</p>

                                                <div class="comm-data">
                                                   Please use this form to provide feedback ,
                                                 
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2 ">                                            
                                                        <label class="input-label">Email</label>
                                                    </div>
                                                    <div class="col-md-10 ">
                                                        <div class="input-group margin form install-label">

                                                            <input class="form-control email" placeholder="Email" type="text"  name="comm_email" id="comm_email"  value=""/>                                   
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-2 ">                                            
                                                        <label class="input-label">Message</label>
                                                    </div>
                                                    <div class="col-md-10 ">
                                                        <div class="input-group margin form install-label">

                                                            <textarea class="form-control" name="comm_msg" id="comm_message"></textarea>                                  
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="resp_msg"></div>
                                                <input type="button" id="comm_button" class="submit" value="Save"/>  
                                            </div>
                                        </div>


                                    </div>








                                </div>
                            </div>



                        </div>
                    </div>
                </form>
            </div>
        </div>


        <script>
            function upload() {
                document.getElementById("site_logo").click();
            }

            $(function() {
                
                $('#site_logo').change(function() {
                    $('.file_label').html($('input[type=file]').val());
                });
            });

            $(document).ready(function() {
                var id = window.localStorage.getItem('cubet_install_id');
                $('#installform').bind("keyup keypress", function(e) {
                    var code = e.keyCode || e.which; 
                    if (code  == 13) {               
                        $('.nextbutton:visible').click();
                        return false;
                    }
                });
                if(id && id != 'undefined')
                {
                    $('#Agreement').hide();
                    $('#Settings').hide();
                    $('#Config').show();
                }
                $('#installform').validate({
                    errorPlacement: function(error, element) {
                        if(element.is(':checkbox')){
                            element.parent().find('label').addClass('error');
                        }
                    },
                    messages : {
                        agree: ''
                    }
                });
                var socket = io.connect();

                socket.on('connect', function() {
                    socket.on('status_data', function(data) {
                        var htm = '<li>'+data.msg+'</li>';
                        $('.fstate ul').append(htm);
                        
                        if(data.last){
                            socket.emit('die');
				
                        }
                    });
                });
                
                $('#permission').hide();


                //form submit
                $('#installform').ajaxForm(function(data) { 
                    $('#final_state').show();
   
                    if(data.res==1){
                        // $('.fstate').hide();
                        $('h2').text('CONGRATULATIONS');
                        $('#finish').show();
                        socket.emit('die');
                    } 
                });

                $('#first_step').click(function() {
        
                    if ($('#installform').valid())
                    {
                         
                        window.localStorage.setItem('cubet_install_id', 1);
                        $('#Agreement').hide();
                        $('#Settings').hide();
                        $('#Config').show();
                               
                        $.ajax({
                            url: '/permissioncheck',
                            type: 'post',
                            dataType: 'json',
                            success: function(response) {

                                if (response.res == 0)
                                {
                                                              
                                    $('#permission').show();
                                    $('#second_step').hide();
                                }
                                if (response.res == 1)
                                {
                                    $('#permission').hide();
                                    $('#second_step').show();
                                }

                            },
                            error: function(jqxhr, status, error) {
                                //                        alert('e' + error);
                            }
                        });
                    }
                    else {
                        return false;
                    }
                })


                $('#second_step').click(function() {
                    if ($('#installform').valid())
                    {
                        window.localStorage.removeItem('cubet_install_id');
                        var port = $('#app_port').val();
                        $('#Agreement').hide();
                        $('#Settings').show();
                        $('#Config').hide();
                      
                    }
                    else {
                        return false;
                    }

                })

                $('#back1').click(function() {
                    $('#Agreement').show();
                    $('#Config').hide();
                    $('#Settings').hide();
                    $('#Config input').removeClass('error');
                });
                $('#back2').click(function() {
                    $('#Agreement').hide();
                    $('#Config').show();
                    $('#Settings').hide();
                })
                
                
                $('#extract').click(function(e){
                    if ($('#installform').valid())
                    {
                        e.preventDefault();
                        $('#Settings').hide();
                   
                        if($("#notify").is(':checked')){
                            $.ajax({
                                url: 'http://sleekjs.com/cb_track',
                                type: 'post',
                                dataType: 'json',
                                data: {
                                    "host": $('#base_url').val(), 
                                    "port": $('#app_port').val(), 
                                    "name": $('#admin_username').val(), 
                                    "email": $('#adm_email').val()
                                }
                            });
                  
                        }
                        $('#installform').submit();
               
                    }
                    else {
                        return false;
                    }
                });
          
                $('span.wrapper').on('click', function(){
                    var $checkbox = $(this).find('input[type=checkbox]');
                    if ($checkbox.is(':checked')) {
                        $checkbox.attr('checked', false);
                    } else {
                        $checkbox.attr('checked', true);
                    }

                });
             
                $("#comm_button").on('click', function(){
                    if($('#comm_email').val()!='' || $('#comm_message').val()){
                        $('#comm_button').hide();
                         $("#resp_msg").html("Thanks for your feedback");
                        $.ajax({
                            url: 'http://sleekjs.com/cb_feed',
                            type: 'post',
                            dataType: 'json',
                            data: {
                                "email": $('#comm_email').val(), 
                                "message": $('#comm_message').val()         
                            }
                        });
                    }
                    else{
                        $("#resp_msg").html("Please add the details, which is not mandatory");
                    }
                });
          
             
            });



        </script>


    </body>

</html>

