<!-- forgot password pop up -->
<div class="modal fade" id="Forgot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog login">
<div class="modal-content">
    <form name="forgotform" id="forgotform">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 id="myModalLabel">Forgot Password</h4>
        </div>
        <div class="modal-body signup">
        <div class="row">
        <div class="col-md-8 col-md-offset-2">
        <div class="search-new">
        <!-- messages here -->    
        <div class="msg"></div>

        <input type="text" name="email" class="form-control sign_up required email" placeholder="E-mail" >
        </div>
        </div>
        </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn submit" id="forgotSubmit" >Submit</button>
        </div>
    </form>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>
<!-- end forgot password pop up -->
