
<div class="element twocols" data-symbol="Mg" data-category="alkaline-earth" >
    <div id="myCarousel2_{{_id}}" class="carousel slide custom">

        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
              {{name}} 
            </div>

            <div style="display: none;" data-toggle="modal" data-target="#myModal">
            </div>
            <!--           <a  href="#myModal" data-toggle="modal" class="time_1" > <i></i> </a> <a class="time_2" href="#"> <i></i> </a> </div>-->
            <!-- Carousel nav --> 
            <a data-slide="prev" href="#myCarousel" class="carousel-control left">&lsaquo;</a> <a data-slide="next" href="#myCarousel" class="carousel-control right">&rsaquo;</a></div>
      
    </div>
</div>

