<div class="wrap">
    <h2>MYYNA Admin login</h2>
    <h4>Welcome to the login page</h4>
    <form action="/admin/adminauth"  autocomplete="off" method="post" class="validate">
        <div class="alert {{$ 'getFlashMessageStatus'}}">
            {{$ 'getFlashMessage'}}
        </div>
        
        <div class="login">
            <div class="email">
                <label for="user">Username</label><div class="email-input"><div class="control-group"><div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span><input type="text" id="user" name="username" class="{required:true}"></div></div></div>
            </div>
            <div class="pw">
                <label for="pw">Password</label><div class="pw-input"><div class="control-group"><div class="input-prepend"><span class="add-on"><i class="icon-lock"></i></span><input type="password" id="pw" name="password" class='{required:true}'></div></div></div>
            </div>
<!--            <div class="remember">
                <label class="checkbox">
                    <input type="checkbox" value="1" name="remember"> Remember me on this computer
                </label>
            </div>-->
        </div>
        <div class="submit">
<!--            <a href="#">Lost password?</a>-->
            <button class="btn btn-red5">Login</button>
        </div>
    </form>
</div>