<div class="row-fluid">
    <div class="span12">
        <div class="alert alert-block {{$ 'getFlashMessageStatus'}}">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">{{$ 'getFlashMessageHead'}}!</h4>
            {{$ 'getFlashMessage'}}
        </div>
        <div class="box">
            <div class="box-head tabs">
                <h3>Paypal Settings</h3>
            </div>
            <div class="box-content box-nomargin">
                <div class="tab-content">
                    <div class="box-content">
                        <form action="/admin/update-paypal-settings" method="post" class='validate form-horizontal' >
                           
                             <div class="control-group fblogins">
                                <label for="PAYPAL_HOST" class="control-label">Paypal Host</label>
                                <div class="controls">
                                    <input  type="text" name="PAYPAL_HOST" id="PAYPAL_HOST" value="{{#if values.paypal_host}}{{values.paypal_host}}{{/if}}">
                                </div>
                            </div>
                            
                            <div class="control-group fblogins">
                                <label for="PAYPAL_CLIENT_ID" class="control-label">Paypal Client Id</label>
                                <div class="controls">
                                    <input  type="text" name="PAYPAL_CLIENT_ID" id="PAYPAL_CLIENT_ID" value="{{#if values.paypal_client_id}}{{values.paypal_client_id}}{{/if}}">
                                </div>
                            </div>
                            <div class="control-group fblogins">
                                <label for="PAYPAL_CLIENT_SECRET" class="control-label">Paypal Secret</label>
                                <div class="controls">
                                    <input type="text" name="PAYPAL_CLIENT_SECRET" id="PAYPAL_CLIENT_SECRET" value="{{#if values.paypal_secret}}{{values.paypal_secret}}{{/if}}">
                                </div>
                            </div>
                            <div class="control-group fblogins">
                                <label for="PAYPAL_COST" class="control-label">Paypal Cost</label>
                                <div class="controls">
                                    <input type="text" name="PAYPAL_COST" id="PAYPAL_COST" value="{{#if values.paypal_cost}}{{values.paypal_cost}}{{/if}}">
                                </div>
                            </div>
                            
                           {{#ifCond edit 1}}
                                <input type="hidden" value="{{values._id}}" name="cid" id="cid">
                            {{/ifCond}}
                            
                            <div class="form-actions">
                                <input type="submit" class='btn btn-primary addAdminBtn' value="{{#ifCond edit 1}}Update {{else}}Add {{/ifCond}}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.fblogins select').change(function(){
        if($(this).find(':selected').val() == 'false'){
            $('.fblogins input').prop('disabled', 'disabled');
        } else {
            $('.fblogins input').prop('disabled', false);
        }
    });
    $('.twlogins select').change(function(){
       if($(this).find(':selected').val() == 'false'){
            $('.twlogins input').prop('disabled', 'disabled');
        } else {
            $('.twlogins input').prop('disabled', false);
        }
    });
</script>