<div class="sub_container">
    <div class="logo-col"><img src="/default/images/logo.png" alt=""> </div>
    <h2>Welcome sssto {{title}}</h2>
    <div class="sub_cnt_col">
        <p>Sleek.Js is an MVC Framework implemented on Node.JS, built-in with base dependency on handlebars.js, express.js, mongoose. Sleek.Js architecture follows common format of MVC which makes it easy to handle and build better sites.</p>

        <p>Using Sleek.Js we can make powerful websites in Nodejs platform. Sleek.Js gives better performance, flexibility and easy maintenance.</p>

        <p>For documentation and other details. GOTO <a href="http://www.sleekjs.com/" target="_blank">Sleek.JS</a></p>

        <p>Cubet Techno Labs. Pvt. Ltd. owns and maintains Sleek.Js code and posts frequent updates. If you have any queries please feel free to contact us at <a href="mailto:info@cubettech.com" target="_blank">info@cubettech.com</a></p>
    </div>
    {{{PLUGIN}}}
    <div class="footer">
        <p>Sleek.js © All Rights Reserved 2013</p>
        <p>Powered by <a href="http://cubettech.com" target="_blank">Cubet Techno Labs, Cochin</a></p>
    </div>
    
</div>